<!DOCTYPE html>
<html lang="en-US">

<head>
    <!-- standard page requirements
  ========================================= -->
    <meta charset="utf-8">
    <title>About - Discover Music</title>
    <meta name="description" content="A full-stack web application created by Hannah Galbraith and Carissa Allen." />

    <!-- dns-prefetch
  ========================================= -->
    <link rel="dns-prefetch" href="//cdnjs.cloudfare.com">

    <!-- favicons
  ========================================= -->
    <link rel="browser icon" href="../images/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="../images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon/favicon-16x16.png">
    <link rel="manifest" href="../images/favicon/site.webmanifest">

    <!-- bootstrap cdn
  ========================================= -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- fonts
  ========================================= -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,200i,300,400,400i,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Knewave|Permanent+Marker&display=swap"
        rel="stylesheet">

    <!-- css
  ========================================= -->
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">

    <!-- bootstrap script tags
  ========================================= -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</head>

<body>


    <!-- navbar
  =========================================================================== -->
    <nav class="navbar navbar-expand-md navbar-light navbar-custom">
        <a href="/" class="navbar-left">
            <h1>H & C</h1>
        </a>
        <button class="navbar-toggler customer-toggler" type="button" data-toggle="collapse"
            data-target="#navbarToggler">
            <img src="../images/icons/iconmonstr-menu-1.svg" style="height: 1.3rem;">
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ml-auto">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link active" href="/about">About</a>
                </li>
            </ul>
        </div>
    </nav>


    <!-- about the work
  =========================================================================== -->
    <section id="about-work">
        <div class="about-content">
            <div class="row">
                <div class="col-12">
                    <h2>Work</h2>
                    <div class="row">
                        <div class="col-6">
                            <div class="project-desc">
                                <h5>Discover new music based on what you enjoy.</h5>
                                <p>To explore and strengthen our skills in full-stack development,
                                    we brainstormed a web application that incorporates a neat third-party API.
                                    Together, we built an application that will generate a music playlist
                                    based on the user's favorite song, artist, or genre. We loved this idea
                                    because it's something we would use ourselves, and can expand on in the future.
                                </p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="api-desc">
                                <h5><a href="">Spotify Web API</a></h5>
                                <p>The Spotify Web API provides music recommendations based on a "seed" artist
                                    song, or genre. To use these endpoints, we obtained authorization for our
                                    application using Spotify's Authorization Code Flow. This allowed us to obtain
                                    an access token that could be refreshed after a successful user login.
                                </p>
                            </div>
                            <div class="tech-stack">
                                <h5><a href="">Tech Stack</a></h5>
                                <div class="row">
                                    <div class="column">
                                        <p>HTML5</p>
                                        <p>CSS3</p>
                                        <p>Bootstrap 4</p>
                                    </div>
                                    <div class="column">
                                        <p>JavaScript</p>
                                        <p>Node.js + Express</p>
                                        <p>Mustache</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>


    <!-- about the team
  =========================================================================== -->
    <section id="about-us">
        <div class="about-us-overlay"></div>
        <div class="about-content">
            <div class="row">
                <div class="col-12">
                    <h2>Team</h2>
                    <p>We teamed up in Full Stack Web Development at Portland State University to
                        <br>kick ass together. We're students and software engineer interns,
                        <br>but we also have some pure gold ideas. Although this is the first full-stack
                        <br>web application either of us have built, we are bursting with creativity
                        <br>and talent. Here's who we are:</p>
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-sm-3 col-xs-12 team-member-1">
                            <a class="about-img" href="https://www.linkedin.com/in/hannah-galbraith/">
                                <img class="team-pic" src="../images/design/team-member-pic-1.jpg">
                            </a>
                            <h5>Hannah</h5>
                            <div class="about-box">
                                <p class="about-desc">Hannah is a developer, a music nerd, a bookworm, an AI/Machine
                                    Learning enthusiast,
                                    and a clotheshorse. She spends her free time going to music and comedy shows,
                                    watching
                                    movies, traveling the globe, baking, and curling up with a book. She's obsessed with
                                    earl grey tea, Oxfords, and all things brass and copper.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-12 team-member-2">
                            <a class="about-img" href="https://www.linkedin.com/in/carissamaeallen/">
                                <img class="team-pic" src="../images/design/team-member-pic-2.jpg">
                            </a>
                            <h5>Carissa</h5>
                            <div class="about-box">
                                <p class="about-desc">Carissa is a lifelong learner, developer, wife, and explorer of
                                    the world.
                                    You can usually find her next to Samson, her dog sidekick, or eating her way
                                    around Portland. When she's away from the screen, she loves spending the night
                                    in fire lookouts, finding new hiking trails, camping in the summer, and reading
                                    fiction.
                                </p>
                            </div>
                        </div>
                        <div class="col-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- footer
  =========================================================================== -->
    <div class="footer">
        <div class="grid-wrapper">
            <div class="social">
                <a href="https://www.github.com/carissaallen/music-app">
                    <img class="logo-sm" src="../images/icons/iconmonstr-github-1.svg"></a>
                <a href="https://www.spotify.com">
                    <img class="logo-sm" src="../images/icons/iconmonstr-spotify-1.svg"></a>
            </div>
        </div>
    </div>

</body>

</html>