<!DOCTYPE html>
<html lang="en-US">

<head>
    <!-- standard page requirements
  ========================================= -->
    <meta charset="utf-8">
    <title>Home - Discover Music</title>
    <meta name="description" content="A full-stack web application created by Hannah Galbraith and Carissa Allen." />

    <!-- dns-prefetch
  ========================================= -->
    <link rel="dns-prefetch" href="//cdnjs.cloudfare.com">

    <!-- favicons
  ========================================= -->
    <link rel="browser icon" href="../images/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="../images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon/favicon-16x16.png">
    <link rel="manifest" href="../images/favicon/site.webmanifest">

    <!-- bootstrap cdn
  ========================================= -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- fonts
  ========================================= -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,200i,300,400,400i,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700" rel="stylesheet">

    <!-- css
  ========================================= -->
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <link rel="stylesheet" type="text/css" href="../styles/about.css">

    <!-- bootstrap script tags
  ========================================= -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- bootstrap toggle
  ========================================= -->
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

</head>

<body>


    <!-- navbar
  =========================================================================== -->
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
        <a href="/" class="navbar-left">
            <h1>H & C</h1>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
            <img src="../images/icons/iconmonstr-menu-1.svg" style="height: 1.3rem;">
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ml-auto">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
        </div>
    </nav>


    <!-- title
  =========================================================================== -->
    <section id="title">
        <div class="search-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 search-titles">
                        <h1>Search for music.</h1>
                        <h3>Generates a new playlist based on your favorite artist or song.</h3>
                    </div>
                    <div class="search-box">
                        <div class="row">
                            <div class="input-group">
                                <form class="form-inline" action="/artist/playlist" method="get">
                                    <!-- toggle -->
                                    <div class="form-group mx-auto">
                                        <input type="checkbox" checked id="toggle-event" data-toggle="toggle"
                                            data-on="Artist" data-off="Song" data-class="fast" data-offstyle="default"
                                            data-onstyle="dark" data-size="small" data-style="ios" data-width="60"
                                            class="form-control col-2 col-md-2">
                                    </div>
                                    <!-- input field -->
                                    <div class="form-group mx-2">
                                        <input class="button form-control col-auto" name="input" type="text"
                                            placeholder="Type an artist name">
                                    </div>
                                    <!-- search icon -->
                                    <span class="input-group-append">
                                        <div class="icon-search"><input type="image"
                                                src="../images/icons/iconmonstr-magnifier-4.svg"
                                                style="border: 0 none;">
                                        </div>
                                    </span>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="login">
                    <div class="col-12">
                        <a href="/login" class="btn btn-dark spotify-button">Sign in to Spotify</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hide-mobile">
            <div class="fit-to-box">
                <iframe frameborder="0" height="100%" width="100%"
                    src="https://www.youtube.com/embed/7BJ7MDOmLPE?&start=14&autoplay=1&controls=0&showinfo=0&autohide=1&mute=1&loop=1&playlist=7BJ7MDOmLPE"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture">
                </iframe>
            </div>
        </div>
    </section>


    <!-- about
  =========================================================================== -->
    <section id="about">
        <div class="hide-mobile">
            <div class="about-section">
                <div class="app-section">
                    <h4>About</h4>
                    <p class="app-description">
                        We developed a full-stack web application
                        to generate new music playlists based on a user's favorite song, artist, or genre.
                        <br>
                        <br>
                        Our application is integrated with the Spotify API to get
                        music recommendations based on seeds, and it implements the
                        Authorization Code Flow for authentication.
                    </p>
                </div>
                <div class="team-section">
                    <h4>The Team</h4>
                    <p>
                        <img class="team-pic" src="../images/design/team-member-pic-1.jpg">
                        Hannah Galbraith
                    </p>
                    <p>
                        <img class="team-pic" src="../images/design/team-member-pic-2.jpg">
                        Carissa Allen
                    </p>
                </div>
            </div>
        </div>
    </section>


    <!-- footer
  =========================================================================== -->
    <div class="footer">
        <div class="grid-wrapper">
            <div class="social">
                <a href="https://www.github.com/carissaallen/music-app">
                    <img class="logo-sm" src="../images/icons/iconmonstr-github-1.svg"></a>
                <a href="https://www.spotify.com">
                    <img class="logo-sm" src="../images/icons/iconmonstr-spotify-1.svg"></a>
            </div>
        </div>
    </div>


    <!-- scripts
  =========================================================================== -->
    <script type='text/javascript' src='../scripts/toggle.js'></script>
</body>

</html>