<!DOCTYPE html>
<html lang="en-US">

<head>
  <!-- standard page requirements
  ========================================= -->
  <meta charset="utf-8">
  <title>Playlist Saved - Discover Music</title>
  <meta name="description" content="A full-stack web application created by Hannah Galbraith and Carissa Allen." />

  <!-- dns-prefetch
  ========================================= -->
  <link rel="dns-prefetch" href="//cdnjs.cloudfare.com">

  <!-- favicons
  ========================================= -->
  <link rel="browser icon" href="../images/favicon/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="../images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon/favicon-16x16.png">
  <link rel="manifest" href="../images/favicon/site.webmanifest">

  <!-- bootstrap cdn
  ========================================= -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- fonts
  ========================================= -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,200i,300,400,400i,700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700" rel="stylesheet">

  <!-- css
  ========================================= -->
  <link rel="stylesheet" type="text/css" href="../styles/main.css">
  <link rel="stylesheet" href="../styles/saved_playlist.css">

  <!-- bootstrap script tags
  ========================================= -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!-- animated text script tags -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.7.0/jquery.lettering.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.7.0/jquery.lettering.min.js"></script>

</head>

<body>


  <!-- navbar
  =========================================================================== -->
  <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <a href="/" class="navbar-left">
      <h1>H & C</h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
      <img src="../images/icons/iconmonstr-menu-1.svg" style="height: 1.3rem;">
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ml-auto">
          <h6><a class="nav-link" href="/">Home</a></h6>
        </li>
        <li class="nav-item ml-auto">
          <h6><a class="nav-link" href="/about">About</a></h6>
        </li>
      </ul>
    </div>
  </nav>


  <!-- main content
  =========================================================================== -->
  <div class="grid-overlay">
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </div>
  <section id="animated-text-container">
    <div class="grid-12">
      <h1 class="animated-text">
        <span class="title">Your new</span><br>
        <span class="title">playlist</span><br>
        <span class="title">is saved.</span>
      </h1>
    </div>
  </section>

  <div class="chevron-container">
    <div class="grid-12">
      <img src="../images/icons/iconmonstr-arrow-28.svg" class="chevron">
    </div>
  </div>

  <div class="options-container">
    <div class="grid-12">
      <div class="box-1">
        <a href="https://open.spotify.com/collection/playlists" target="_blank">
          <img src="../images/design/dmitry-bayer-571087-unsplash.jpg">
          <h4>Listen on<br>Spotify.</h4>
        </a>
      </div>
      <div class="box-2">
        <a href="/">
          <img src="../images/design/natalie-perea-460452-unsplash.jpg">
          <h4>Create a new<br>playlist.</h4>
        </a>
      </div>
    </div>
  </div>


  <!-- footer
  =========================================================================== -->
  <div class="footer">
    <div class="grid-wrapper">
      <div class="social">
        <a href="https://www.github.com/carissaallen/music-app">
          <img class="logo-sm" src="../images/icons/iconmonstr-github-1.svg"></a>
        <a href="https://www.spotify.com">
          <img class="logo-sm" src="../images/icons/iconmonstr-spotify-1.svg"></a>
      </div>
    </div>
  </div>


  <!-- scripts
  =========================================================================== -->
  <script src="../scripts/animate_text.js"></script>

</body>

</html>