/***************************************
 *  about section (on main page)
 ***************************************/
.about-section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 2;
    grid-column: 2 / span 10;
    background-color: #fff;
    padding: 3rem;
}

#about h4 {
    font-weight: 700;
    line-height: 1.5;
}

#about .team-section p {
    text-align: right;
}

#about .app-section p {
    text-align: left;
}

.app-section {
    grid-column: 2 / span 4;
    text-align: left;
}

.team-section {
    grid-column: 8 / span 4;
    text-align: right;
}

.team-pic {
    text-align: left;
    border-radius: 100%;
    width: 4rem;
    margin: 0px 20px;
}


/***************************************
 *  about section (on separate page)
 ***************************************/
.about-content {
    display: table-cell;
    padding-top: 100px;
    vertical-align: top;
    text-align: center;
    -webkit-transform: translateY(-2.1rem);
    transform: trnaslateY(-2.1rem);
}

/* about the work */

#about-work {
    background: #fff;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    display: table;
    position: relative;
    text-align: center;
    padding: 0 0 3rem 0;
}

#about-work h2 {
    font-size: 40px;
    font-weight: 900;
    color: #000;
    letter-spacing: .2rem;
    line-height: 1.5;
    text-transform: uppercase;
    padding-bottom: 40px;
}

#about-work h5 {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    line-height: 2;
    letter-spacing: .1em;
}

#about-work p {
    line-height: 2;
}

#about-work a,a:hover {
    color: #000;
    cursor: default;
    text-decoration: none;
}

#about-work h5 a {
    padding: 5px 0;
    border-bottom: 2px solid #b00f24;
}

#about-work .features h5 {
    padding-bottom: 10px;
}

#about-work .features p {
    line-height: 1.2;
}

#about-work .project-desc {
    padding: 20px 40px 20px 200px;
    text-align: left;
}

#about-work .project-img {
    padding-top: 20px;
}

#about-work .project-desc h5 {
    font-size: 22px;
}

#about-work .project-desc p {
    font-size: 15px;
}

#about-work .features {
    padding: 20px 200px 20px 10px;
}

#about-work .api-desc {
    padding: 20px 200px 20px 10px;
}

#about-work .tech-stack .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    align-items: center;
    justify-content: center;
}

#about-work .tech-stack .column {
    display: flex; 
    flex-direction: column;
    margin: 0 30px;
}

#about-work .tech-stack {
    padding: 20px 200px 20px 10px;
}

#about-work .tech-stack p {
    padding-top: 5px;
    font-family: "Permanent Marker";
    font-size: 18px;
}

/* about the team */

#about-us {
    background: #181818 url(../images/design/john-westrock-638071-unsplash.jpg) no-repeat center bottom;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    min-height: 720px;
    display: table;
    position: relative;
    text-align: center;
    padding: 3rem;
}

.about-us-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111111;
    opacity: .85;
}

#about-us h2 {
    font-size: 40px;
    font-weight: 900;
    color: #fff;
    letter-spacing: .2rem;
    line-height: 1.5;
    text-transform: uppercase;
} 

#about-us p {
    margin: 0 30px;
    font-weight: 300;
    line-height: 2rem;
    color: #fff;
    font-size: 15px;
}

#about-us .who-we-are h5 {
    padding: 10px;
    font-size: 18px;
}

#about-us .team-desc {
    margin: 10px 300px;
}

#about-us .team-desc p {
    font-size: 16px;
}

#about-us h5 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    letter-spacing: .1em;
}

#about-us img.team-pic {
    margin-top: 40px;
    width: 7rem;
    opacity: .7;
}

#about-us img:hover {
    opacity: 1;
}


/***************************************
 *  media queries
 ***************************************/
@media only screen and (max-width: 700px) {
    #about .team-section {
        display: none;
    }
    #about .app-section {
        grid-column: 2 / span 10;
    }
}

@media only screen and (min-width: 1024px) {
    #about .about-section {
        display: none;
    }
}
