/***************************************
 *  elements
 ***************************************/

 .container {
    padding-bottom: 5%;
}

.album-img {
    margin-bottom: 1rem;
}

.album-art {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.song-info {
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.song-text {
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 0;
    line-height: 0.5;
}

.song {
    font-size: 15px;
    font-weight: 800;
}

audio {
    height: 2rem;
    width: 16rem;
}

.save-playlist-form {
    position: fixed;
    top: 0;
    right: -3em;
    padding: 7% 3% 3% 3%;
    margin-right: 4%;
    z-index: 2;
    background-color: lightgray;
    height: 100%;
    width: 30%;
}

button {
    border-radius: 5px;
}

.required {
    color: red;
}
