/***************************************
 *  elements
 ***************************************/
a, a:hover {
    color: #000;
    cursor: default;
    text-decoration: none;
}

audio {
    height: 2rem;
    width: 16rem;
}

button {
    border-radius: 5px;
}

input[type='radio'] {
    margin-top: 10px;
    margin-bottom: 20px;
}

label {
    padding: 3px 10px 5px 3px;
}

/***************************************
 *  playlist
 ***************************************/
 .container {
    padding-bottom: 5%;
}

.album-img {
    margin-bottom: 1rem;
}

.album-art {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.song-info {
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.song-text {
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 0;
    line-height: 0.5;
}

.song {
    font-size: 15px;
    font-weight: 800;
}

/***************************************
 *  save playlist form
 ***************************************/
.save-playlist-form {
    background-color: #eeeeee;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 100%;
    margin-right: 2%;
    padding: 15% 3% 3% 3%;
    position: fixed;
    right: -3em;
    top: 0;
    width: 30%;
    z-index: 2;
}

.required {
    color: red;
}

.save-playlist-btn {
    border: none;
    border-width: 0;
    margin-top: 5px;
}

.save-playlist-btn:hover {
    background: #1DB954;
}

.save-playlist-form h2 {
    font-size: 24px;
    padding-bottom: 10px;
}

#playlist-name {
    margin-top: 10px;
}